{% extends 'base.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container">
      <div class="row">
        {% for entry in topic | sortbyfield('name') %}
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" style = 'background-color: #fff; '>
            <img src="http://localhost/symfonycalendar/public/files/immagini/{{ entry.gallery }}"  width="60" height="60" alt="" />
            {{ entry.name }}<br>
            <a href="modify/{{ entry.id }}">Modifica</a>
            {% if entry.delete == 1 %}
            <a href="remove/{{ entry.id }}">Cancella</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <a href="new">Nuovo Argomento</a>
    </div>
  </section>
</div>
{% endblock %}
