<h3>You did it! You registered!</h3>

Hi! You can recover your password at this link:

{{ url('recoverpassword') }}/{{ recoverurl }}

If you don't have request a change of password, ignore this mail.
