{% extends 'base.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container">
      <div class="row">
      {{ form_start(forms) }}
      {{ form_widget(forms) }}
      {{ form_end(forms) }}
      </div>
    </div>
  </section>
</div>
{% endblock %}
